<!-- #docplaster -->
<!-- #docregion checkout-form-2 -->
<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<!-- #docregion checkout-form-1 -->
<!-- [formGroup]    adds the FormGroup directive to this form HTML element,
passing the data to the property with formGroup name, via property binding -->
<!-- (ngSubmit)   is an event binding, listening for the form submission, and
calling to onSumbit()-->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
<!-- #enddocregion checkout-form-1 -->

  <div>
    <label for="name">
      Name
    </label>
    <!-- formControlName    adds FormControlName directive, passing to the property with
     same name, the input field to bind to the form control checkoutForm-->
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

<!-- #docregion checkout-form-1 -->
</form>
